*{
  margin: 0;
  padding: 0;
}

#root{
  height: 100%;
}

.body{
  height: 100%;
}

@font-face {
  font-family: "edge";
  src: url(./EdgeOfTheGalaxyItalic-ZVJB3.otf);
}

.homePage_background{
  background-image: url(./images/homepage-background.jpg);
  /* Center and scale the image nicely */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.navbar{ 
  color: black;
  margin-top: -7px;
  text-decoration: none;
}

.navbarhome{
  color: white;
  margin-left: 25px;
  text-decoration: none;
}

.active{
  text-decoration: none;
}

.cart__icon{
  color: black;
  margin-left: 2px;
  text-decoration: none;
}

.brandname{
  font-size: 30px;
}

.homepage__container{
  position: absolute;


  left: 50%;


  top: 50%;


  transform: translate(-50%, -50%);
  overflow: hidden;
//   box-shadow: 40px -3px 26px 24px rgba(0,0,0,0.26);
// -webkit-box-shadow: 40px -3px 26px 24px rgba(0,0,0,0.26);
// -moz-box-shadow: 40px -3px 26px 24px rgba(0,0,0,0.26);
  height: 75%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  span{
    color: white;
    margin: auto ;
    text-align: center;
    font-size: 3em;
    font-family: "edge";
  }

  .orange{
    color: orange;
    font-size: 2em;
  }
}
.center {
  max-height: 90%;
  max-width: 90%;
  margin: auto;
}

.img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  margin: auto;
  
}

.card__group{
  display: flex;
  align-items: stretch;
  flex-wrap:wrap;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
}

.card{
  width: 320px;
  margin: 15px;
}

.footer__body{
  width: 100%;
  background-color: #2A2C2D;
  color: white;
  padding: 5em;
}

.footer__nav{
  text-align: right;
  list-style: none;
  margin-right: 10%;
}

.footer__nav li{
  display: inline;
  margin-left: 2em;
}

.footer__txt1{
  font-size: 3em;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}