*{
  height: 100%;
}

.backk{
  background-image: url(./images/homepage-background.jpg);
  /* Center and scale the image nicely */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar{
  height: 60px;
  color: white;
}

.brandname{
  font-size: 30px;
}

.center {


  position: absolute;


  left: 50%;


  top: 50%;


  transform: translate(-50%, -50%);

  box-shadow: 40px -3px 26px 24px rgba(0,0,0,0.26);
-webkit-box-shadow: 40px -3px 26px 24px rgba(0,0,0,0.26);
-moz-box-shadow: 40px -3px 26px 24px rgba(0,0,0,0.26);
  height: 65%;

}

